
  body{
    background-color: rgb(228, 237, 235);
  }
  
  footer {
      font-family: 'Crimson Pro', serif;
      text-align: center;
    }
  
    #texture-container{
      display: flex;  
      margin: 5%;
      width: 90%;
      height: 90%;
      justify-content: center;
      align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    }
    
    #content{
      margin: auto;
      width: 75%;
      padding-top: 5%;
    }

    h2{
      font-family: 'Crimson Pro', serif;
      font-size: 3vw;
      text-align: center;
      padding-top: 5%;
    }

    h3{
      font-family: 'Crimson Pro', serif;
      font-size: 3vw;
      text-align: center;
      padding-top: 5%;
    }

    p {
      color: black;
      font-family: 'Crimson Pro', serif;
      font-size: 1.7vw;
    }

  img{
      display: flex; 
      margin: auto;
      width: 60%;
      align-items: center;
  }

  .title_card_img{
      display: flex;  
      margin:auto;
      width: 75%;
  }

  .bottom {
    background-color: rgb(228, 237, 235);
    display: block;
    justify-content: center;
    align-items: center;
  }

  .btn {
    align-items: center;
    border: none;
    border-radius: 15px;
    box-shadow: .3rem 0 .3rem #7a6d87;
    color: #FFFFFF;
    display: inline-flex;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 16px 16px !important;
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .movie{
    background-color: rgb(112, 144, 149);
  }
  
  .movie:hover{
    background-color: #ffffff;
    border: 1.5px solid;
    border-color: #d04261; 
  }

  .chapter{
    background-color: rgb(112, 144, 149);
  }
  
  .chapter:hover{
    background-color: #ffffff;
    border: 1.5px solid;
    border-color: #d04261;  
  }
  
  .buttons{
    text-align: center;
  }

  a.Meet {
    padding: 1rem;
    color: rgba(255, 255, 255, 0);
    animation: effect 1.5s linear infinite;
  }

  @keyframes effect {
    0% {
        background: -webkit-linear-gradient(
           #E4EDEB, #709095);
        -webkit-background-clip: text;
    }
  
    100% {
        background: -webkit-linear-gradient(
          #f5c5ce, #d36d83);
        -webkit-background-clip: text;
    }
  }