body {
    background-color:  #e8bdff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
}

h1 {
    color: #431959;
    font-family: 'Kalam', cursive;
    font-size: 6rem;
    margin: 10;
    text-align: center;
}

h2 {
    color: #431959;
    font-family: 'Kalam', cursive;
    font-size: 4rem;
    margin: 0;
    padding-left: 15%;
}
  
h3 {
    color: #431959;
    font-family: 'Kalam', cursive;
    font-size: 1.5rem;
    margin: 0;
    padding-left: 25%;
}


footer {
    text-align: center;
    margin-bottom: 50px;
}
  
.profiles {
    margin: 0 auto;
    width: 85%;
}
 
.profile_row_1 {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 70%;
    min-height: 360px;
    margin: 40px auto 20px auto;
    padding: 20px 0;
}

.profile_pic_1 {
   float: left;
   box-shadow: -1rem 1rem 1rem #7a6d87;
   margin: auto 10px auto 0;
   height: 360px;
}

.profile_p_1 {
    font-family: 'Homemade Apple', cursive;
    font-size: 1.5rem;
    margin: 0;
    padding: 32px;
} 

.profile_row_2 {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 70%;
    min-height: 360px;
    margin: 40px auto 20px auto;
    padding: 20px 0;
}

.profile_pic_2 {
   float: right;
   box-shadow: 1rem 0 1rem #7a6d87;
   margin: auto 0 40px 10px;
   height: 360px;
}
   
.profile_p_2 {
    font-family: 'Homemade Apple', cursive;
    font-size: 1.5rem;
    margin: 0;
    padding: 32px;
}
  
.home-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    padding: .5em;
    padding-bottom: 2rem;
}
  
