body {  
  background: FireBrick;
  }

footer {
    font-family: 'Crimson Pro', serif;
    text-align: center;
  }

#texture-container{
    display: block;
    margin: 5%;
    width: 90%;
    height: 90%;
    align-items: center;
    background-image: url("brushed-alum.png");
  }
  
#content{
    display:block;
    margin: auto;
    width: 75%;
    padding-top: 5%;
  }

h1{
    font-family: 'Crimson Pro', serif;
    font-size: 3vw;
    text-align: center;
    padding-top: 5%;
  }

.section{
    padding-top: 0;
  }

p {
    color: black;
    font-family: 'Crimson Pro', serif;
    font-size: 1.7vw;
  }

.caps{
    color: rgba(0,0,0);
    float:left;
    margin-top: 0;
    font-size: 5vw;
    line-height: 3.5vw;
    padding-right: .4vw;
    position:relative;
  }

a{
    color: PeachPuff;
    font-family: 'Crimson Pro', serif;
  }