@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

:root {
  /* Base font size */
  font-size: 10px;   
  
  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

body {
    background-color:  #adccad;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
}

h3 {
    font-family: 'Architects Daughter', cursive;
    font-size: 4rem;
}

p {
    margin: 0;
}

.container {
    align-items: center;
    width: 80%;
    display: flex;
    flex-direction: column;   
    margin: 0 auto;
}

.story-div {
    justify-content: space-between;
    width: 90%;
    display: flex;
    align-content: center;
    padding: 3.5rem;
}

.story-lede {
    padding: 1rem;
    width: 65%;
    font-family: 'Architects Daughter', cursive;
    font-size: 2rem;
    text-align: center;
}

.btn {
    width: 25%;
    min-height: 10rem;
    min-width: 150px;
    border: none;
    border-radius: 15px;
    box-shadow: .3rem 0 .3rem #7a6d87;
    text-align: center;
    padding: 10px;
    font-family: 'Architects Daughter', cursive;
    font-size: 2rem;
    cursor: pointer;
  }

.biz {
    background: black;
  }

a.biz {
    font-size: 2.5rem;
    font-weight: 100;
    font-style: italic;
    color: #fff;
    padding: 1rem 1.5rem 1.35rem;
    border: 0.2rem solid #fff;
    border-radius: .5rem;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate; 
  }

.primrose {
    background-image: radial-gradient(#fafafa 20%, transparent 20%),
    radial-gradient(#fafafa 20%, transparent 20%);
    background-color: #ffd4d3;
    background-position: 0 0, 40px 40px;
    background-size: 80px 80px;
  }

.puppies {
    background-color: #bccbff;
    background-size: 50%;
    background-image: url("../images/paw-prints.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.facts {
    text-align: left;
    background-color: #d1a5eb;
    background-size: 27%;
    background-image: url("../images/question-mark2.png");
    background-repeat: no-repeat;
    background-position: 94% 50%;
}

.home {
    background-color: #f5c5ce;
}

.dazzle {
    color: rgba(237, 223, 62, 0.08);
    background: -webkit-gradient(linear, left top, right top, from(#9c7c38), to(#eddf3e), color-stop(0.5, #9c7c38));
    background-size: 25px 100%;   
    -webkit-background-clip: text; 
    animation-name: shimmer;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #9c7c38;
    }

@-moz-keyframes shimmer {
    0% {
        background-position: -100px 0;
        }
    100% {
        background-position: 200px 0;
        }
    }

@-webkit-keyframes shimmer {
    0% {
        background-position: -100px 0;
        }
    100% {
        background-position: 200px 0;
        }
    }

@-o-keyframes shimmer {
    0% {
        background-position: -100px 0;
        }
    100% {
        background-position: 200px 0;
        }
    }

@keyframes shimmer {
    0% {
        background-position: -100px 0;
        }
    100% {
        background-position: 200px 0;
        }
    }

/* Animate neon flicker */
@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}