body {
  background-color:  #E4F9F5;
  margin: 0;
  text-align: center;
}

h1 {
  color: #d04261;
  font-family: 'Crafty Girls', cursive;
  font-size: 6rem;
  margin: 10;
  text-align: center;
}

footer {
  text-align: center;
  margin-bottom: 50px;
}

.profiles {
  margin: 0 auto;
  width: 85%;
}

.profile_row_odd {
  background-color: #E4F9F5;
  width: 70%;
  min-height: 230px;
  margin: 20px auto 20px auto;
}

.profile_pic_odd {
 float: left;
 margin: auto 10px auto 0;
 height: 180px;
}

.profile_label_odd {
  color: #4ca7ad;
  font-family: 'The Girl Next Door', cursive;
  font-size: 3rem;
  margin: 0;
  text-align: left;
  line-height: 4rem;
}

.profile_p_odd {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  margin: 0;
  text-align: justify;
  padding: 8px;
}

.profile_row_even {
  background-color: #E4F9F5;
  width: 70%;
  min-height: 230px;
  margin: 20px auto 20px auto;
}

.profile_pic_even {
 float: right;
 margin: auto 0 auto 10px;
 height: 180px;
}

.profile_label_even {
  color: #4ca7ad;
  font-family: 'The Girl Next Door', cursive;
  font-size: 3rem;
  margin: 0;
  text-align: right;
  line-height: 4rem;
}

.profile_p_even {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  margin: 0;
  text-align: justify;
  padding: 8px;
}

.home-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  padding: .5em;
  padding-bottom: 2rem;
}
