body {
    background-color: #f5c5ce;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
  }
  
  footer {
    background-color: #f5c5ce;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
  }

  h1 {
    color: #d04261;
    font-family: 'Crafty Girls', cursive;
    font-size: 6rem;
    margin: 0;
    text-align: center;
  
  }
  
  h2 {
    color: #d04261;
    font-family: 'Crafty Girls', cursive;
    font-size: 4rem;
    margin: 0;
    text-align: center;
  }
  
  h3 {
    color: #d04261;
    font-family: 'Crafty Girls', cursive;
    font-size: 3rem;
    margin: 0;
    text-align: center;
    padding-bottom:15px;
  }

  h5 {
    color: #c92649;
    font-family: 'Crafty Girls', cursive;
    font-size: 1.25 rem;
  }

  p {
    color: #c92649;
    font-family: 'Crafty Girls', cursive;
  }

  .carousel {
    width:50%;
    margin: auto;
    padding: 2%;
  }

  .carousel-caption {
    position: relative;
    bottom: -2px;
    left: auto;
    right: auto;
  }

  .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    background-color: #d04261;
    border-radius: 100%;
  }