body {
  background-color: #f5c5ce;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

footer {
  background-color: #f5c5ce;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  text-align: center;
}

h1 {
  color: #d04261;
  font-family: 'Crafty Girls', cursive;
  font-size: 6rem;
  margin: 0;
  text-align: center;

}

h2 {
  color: #d04261;
  font-family: 'Crafty Girls', cursive;
  font-size: 4rem;
  margin: 0;
  padding-left: 15%;
}

h3 {
  color: #d04261;
  font-family: 'Crafty Girls', cursive;
  font-size: 3rem;
  margin: 0;
  padding-left: 30%;
}

img {
  width: 100%;
}

table {
  margin: auto;
  font-size: 1.5em;
  padding: .5em;
}

.main {
  padding: 32px;
}

.dazzle {
  color: rgba(237, 223, 62, 0.08);
  background: -webkit-gradient(linear, left top, right top, from(#9c7c38), to(#eddf3e), color-stop(0.5, #9c7c38));
  background-size: 65px 100%;    
  -webkit-background-clip: text;
  animation-name: shimmer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #9c7c38;
}


.tagline {
  color: #d04261;
  font-family: 'The Girl Next Door', cursive;
  font-size: 3rem;
  margin: 3rem 0 1rem;
  padding: 3rem 1rem 0;
  text-align: center;
}

.bottom {
  background-color: #E4F9F5;
}

.t-1 {
  color: #4ca7ad;
  font-family: 'Architects Daughter', cursive;
  font-size: 2.25rem;
  padding: .5rem 2rem .5rem 2rem;
}

.Meet {
  padding: 2rem;
}

.feature {
  margin: 0 auto 3rem;
  padding: 0 0 3rem;
  width: 50%;
}

.magazine {
  font-family: 'Architects Daughter', cursive;
  font-size: 2rem;
  text-align: center;
}

@-moz-keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

@-webkit-keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

@-o-keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}

@keyframes shimmer {
  0% {
      background-position: top left;
  }
  100% {
      background-position: top right;
  }
}