body {
  background-color: #f5c5ce;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

footer {
  background-color: #f5c5ce;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  text-align: center;
}

h1 {
  color: #d04261;
  font-family: 'Crafty Girls', cursive;
  font-size: 6rem;
  margin: 0;
  text-align: center;

}

h2 {
  color: #d04261;
  font-family: 'Crafty Girls', cursive;
  font-size: 4rem;
  margin: 0;
  padding-left: 15%;
}

h3 {
  color: #d04261;
  font-family: 'Crafty Girls', cursive;
  font-size: 3rem;
  margin: 0;
  padding-left: 30%;
}

img {
  width: 100%;
}

.btn {
  align-items: center;
  border: none;
  border-radius: 15px;
  box-shadow: .3rem 0 .3rem #7a6d87;
  color: #FFFFFF;
  display: inline-flex;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: 16px 16px !important;
  text-decoration: none;
  font-family: 'The Girl Next Door', cursive;
  font-size: 2rem;
  cursor: pointer;
}

.pink{
  background-color: #fcdee4;
}

.pink:hover{
  background-color: #fffdd1;
  border: 1.5px solid;
  border-color: #ffdb6e; 
}

.yellow{
  background-color: #fffdd1;
}

.yellow:hover{
  background-color: #fcdee4;
  border: 1.5px solid;
  border-color: #d04261;  
}

.buttons{
  text-align: center;
}

table {
  margin: auto;
  font-size: 1.5em;
  padding: .5em;
}

.main {
  padding: 32px;
}

.dazzle {
  color: rgba(237, 223, 62, 0.08);
  background: -webkit-gradient(linear, left top, right top, from(#9c7c38), to(#eddf3e), color-stop(0.5, #9c7c38));
  background-size: 65px 100%;    
  -webkit-background-clip: text;
  animation-name: shimmer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #9c7c38;
}


.tagline {
  color: #d04261;
  font-family: 'The Girl Next Door', cursive;
  font-size: 2rem;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.bottom {
  background-color: #E4F9F5;
  display: block;
}

.t-1 {
  color: #4ca7ad;
  font-family: 'Architects Daughter', cursive;
  font-size: 2.25rem;
  padding: .5rem 2rem .5rem 2rem;
}

a.Meet {
  padding: 1rem;
  color: rgba(255, 255, 255, 0);
  animation: effect 1.5s linear infinite;
}

.feature {
  margin: 0 auto 3rem;
  padding: 0 0 3rem;
  width: 50%;
}

.magazine {
  font-family: 'Architects Daughter', cursive;
  font-size: 2rem;
  text-align: center;
}

@keyframes effect {
  0% {
      background: -webkit-linear-gradient(
         #bcbbff, #541d8b);
      -webkit-background-clip: text;
  }

  100% {
      background: -webkit-linear-gradient(
        #f5c5ce, #af2140);
      -webkit-background-clip: text;
  }
}

@-moz-keyframes shimmer {
  0% {
      background-position: -100px 0;
  }
  100% {
      background-position: 300px 0;
  }
}

@-webkit-keyframes shimmer {
  0% {
      background-position: -100px 0;
  }
  100% {
      background-position: 300px 0;
  }
}

@-o-keyframes shimmer {
  0% {
      background-position: -100px 0;
  }
  100% {
      background-position: 300px 0;
  }
}

@keyframes shimmer {
  0% {
      background-position: -100px 0;
  }
  100% {
      background-position: 300px 0;
  }
}